html
    head
      title= title
      link(rel='stylesheet', href='/stylesheets/style.css')
      link(rel='stylesheet', href='/stylesheets/bootstrap.css')
      script(src='/js/nm/jquery-2.1.4.min.js')

    block content
