extends layout
block content
  script(src='/js/nm/ang.js')
  script(src='/js/prop.js')
  body(ng-app= "skadoosh")
    form(ng-controller="ObjController" id="addProperties" method="post" action= "/new/schem" role="form")
      p.objText Let's start out by adding an object that you want to track.
      |Enter Here:
      input.objName(type="text" name = "objName" ng-model= "objName")
      button.nextStep(type="button") Next
      div.properties
        div.property
          p.objText What is a property of a(n) {{objName}}?
            abbr(title="For example, a property of a Phone would be its Phone Number")
              sup ?
          label.objText Property Name:
            input(type = "text" name="property1")
          p.objText
            |Are the possible values of this property unique
            abbr(title="A unique value is a value that changes for each {{objName}}. A phone's number changes for each phone, so the number property would be unique.")
              sup ?
            |or shared
            abbr(title="A shared value would be a value that is shared by some {{objName}}s.")
              sup ?
          select(form="addProperties" name="typeOfProperty1")
            option(value="unique") Unique
            option(value='shared') Shared
        button.addPropButton(type="button") Add Property
        button.final(type="submit") Submit
      
      
